body {
    background-color: #F8F8F8;
}

header {
    background-color: bisque;

}
    a {
        background-color: brown;

    }

    button {
        background-color: chartreuse;

    }

div {
    background-color: darkgray;

}

h1 {
    background-color: darkseagreen;

}

p {
    background-color: deeppink;

}
img {
    
}